@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}

.infoCard {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
    max-width: 300px;
    flex: 1 1 40%;
    /* flex-direction: row; */
}

.title {
}

.title h4 {
    font-size: 24px;
}
.title .url {
}

.desc {
}

.genre {
    display: flex;
}
