@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 30px;
}

.categories li {
    font-size: 24px;
    font-weight: 600;
    margin-right: 3rem;
    cursor: pointer;
    animation: fade-color;
}

.categories li:hover {
    color: #FA8F2C;
    transition: 0.3s ease-out;
}

@keyframes fade-color {
    0% {
        color: rgba(0, 0, 0, 0.8);
    }
    100% {
        color: #FA8F2C;
    }
}

.categories li:last-child {
    margin-right: 0;
}